<ul id="stepTabs" class="nav nav-justified nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/udaje" routerLinkActive="active">{{ 'FORM.TABS.OBJEKT' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/osoby" routerLinkActive="active">{{ 'FORM.TABS.OSOBNI' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rozsah" routerLinkActive="active">{{ 'FORM.TABS.RIZIKA' | translate }}</a>
    </li>    
  </ul>
