<ul id="stepTabs" class="nav nav-justified nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/zadani" routerLinkActive="active">{{ 'FORM.TABS.ZADANI' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/srovnani" routerLinkActive="active">{{ 'FORM.TABS.SROVNANI' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sjednani" routerLinkActive="active">{{ 'FORM.TABS.SJEDNANI' | translate }}</a>
    </li>
  </ul>
