<form [formGroup]="formlyForm" (ngSubmit)="onSubmit()">
    <div class="mt-5 mb-5">
        <div class="r">

            <formly-form [model]="data"
                [fields]="formlyFields"
                [options]="formlyOptions"
                [form]="formlyForm">
            </formly-form>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-success mb-4 mr-2">{{ 'FORM.BUTTONS.DALE' | translate }}</button>
            </div>   
            <!-- 
            <button type="button" class="btn btn-default" (click)="formlyOptions.resetModel()">Reset</button>
            -->
        </div>
    </div>
</form>
