<div class="text-center">
    <h1 class="contentheading">{{ 'UVOD.TITLE' | translate }}</h1>
    <p>{{ 'UVOD.INTRO' | translate }}</p>
    <p><span [innerHtml]="'UVOD.INTRO2' | translate"></span></p>

    <div *ngIf="loading">
        <div class="progress mb-4" style="height: 3px;">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="progress" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline justify-content-center">
        <label class="sr-only" for="vozidlo.rz">{{ 'UVOD.RZ.LABEL' | translate }}</label>
        <input type="text" [readonly]="loading" formControlName="rz" class="form-control mb-4 mr-2" id="vozidlo.rz"
            [ngClass]="{ 'is-invalid': submitted && f.rz.errors }"
            placeholder="{{ 'UVOD.RZ.PLACEHOLDER' | translate }}">
         
        <button type="submit" [disabled]="loading" class="btn btn-success mb-4 mr-2">{{ 'UVOD.SUBMIT' | translate }}</button>
        <a routerLink="/udaje" class="btn btn-secondary mb-4">{{ 'UVOD.CANCEL' | translate }}</a>
        <div *ngIf="submitted && f.rz.errors" class="invalid-feedback">
            <div *ngIf="f.rz.errors.required">Je-li přidělena RZ, zadejte ji.</div>
        </div> 
    </form> 
</div>